<div class="big-card__container">
  <div class="big-card__photo">
    <img
      src="https://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png"
      alt="imagem"
      height="100px"
      width="100px"
    />
  </div>

  <div class="big-card__title">
    <h1>Penguins dançam?</h1>
  </div>

  <div class="big-card__description">
    <p>
      Os pinguins, criaturas encantadoras e majestosas, habitam as vastas
      extensões de gelo da Antártica e regiões circundantes. Com suas penas
      brilhantes e nadadeiras habilidosas, esses pássaros aquáticos deslizam
      graciosamente pelas águas geladas, enquanto seu olhar curioso e expressões
      adoráveis cativam qualquer observador. Comunidades de pinguins, conhecidas
      como colônias, se reúnem para criar um espetáculo hipnotizante de vida
      selvagem, exemplificando a beleza e a resiliência da natureza no extremo
      sul do nosso planeta.
    </p>
  </div>
</div>
