<div class="small-card__container">
    <div class="small-card__photo">
      <img
        src="https://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png"
        alt="imagem"
        height="100px"
        width="100px"
      />
    </div>
  
    <div class="small-card__title">
      <h2>Penguins dançam?</h2>
    </div>
  
    <div class="small-card__description">
      <p>
        Os pinguins, criaturas encantadoras e majestosas.
      </p>
    </div>
  </div>
  